body {
  padding: 20px 0px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  margin: 0px;
  counter-reset: section;
}

h2 {
  padding: 20px 0px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 28px;
  color: #0041c4;
  margin: 0px;
  counter-reset: sub-section;
}

div.content {
  padding: 20px 0px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

div.figure {
  padding: 20px 0px;
  text-align: center;
  font-weight: bold;
}

pre {
  background: #efe;
  border: 10px solid #efe;
  font-family: Inconsolata, Consolas, "Courier New", monospace;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  white-space:nowrap;
  font-family: Inconsolata, Consolas, "Courier New", monospace;
  background-color:#eee;
  font-weight:normal;
  padding:0px 3px;
  font-weight:bold;
}

h3 {
  counter-reset: composite;
  font-family: Verdana, sans-serif;
}

h4 { counter-reset: detail }

h2:before {
  counter-increment: section;
  content: counter(section) ". ";
}

h3:before {
  counter-increment: sub-section;
  content: counter(section) "." counter(sub-section) " ";
}

h4:before {
  counter-increment: composite;
  content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}

h5:before {
  counter-increment: detail;
  content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}
