body {
  padding: 20px 0px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  margin: 0px;
  counter-reset: section;
}

h1 {
  font-family: "Trade Winds", sans-serif, Arial, Verdana;
}

h2 {
  padding: 20px 0px;
  font-family: "Fredericka the Great", sans-serif, Arial, Verdana;
  font-size: 28px;
  color: #0041c4;
  margin: 0px;
  counter-reset: sub-section;
}

div.content {
  padding: 20px 0px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

div.figure {
  padding: 20px 0px;
  text-align: center;
  font-weight: bold;
}

pre {
  background: #efe;
  border: 10px solid #efe;
  font-family: Inconsolata, Consolas, "Courier New", monospace;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  white-space:nowrap;
  font-family: Inconsolata, Consolas, "Courier New", monospace;
  background-color:#eee;
  font-weight:normal;
  padding:0px 3px;
  font-weight:bold;
}

h3 {
  counter-reset: composite;
  font-family: "Ubuntu", Verdana, sans-serif;
}

h4 { counter-reset: detail }

h2:before {
  counter-increment: section;
  content: counter(section) ". ";
}

h3:before {
  counter-increment: sub-section;
  content: counter(section) "." counter(sub-section) " ";
}

h4:before {
  counter-increment: composite;
  content: counter(section) "." counter(sub-section) "." counter(composite) " ";
}

h5:before {
  counter-increment: detail;
  content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
}

table {
	padding: 20px 0px;
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-collapse: separate;
}
table td.bit_num_f {
	color: gray;
	font-size: 10px;
	width: 44px;
	text-align: center;
	border-style: none;
}
table td.valid_f {
	border-width: 1px;
	text-align: center;
	padding: 0px;
	border-style: inset;
	background-color: #FFB;
}
table td.const_f {
	border-width: 1px;
	text-align: center;
	padding: 0px;
	border-style: outset;
	background-color: #DFD;
}
table td.empty_f {
	background-color: #EEE;
}
table td.valid_v_f {
	border-width: 1px;
	text-align: center;
	border-style: inset;
	border-color: green;
	background-color: white;
}
table td.name_f {
	font-family: "Ubuntu", Verdana, sans-serif;
	font-weight: bold;
}
table td.forth {
	width: 300px;
	font-family: "Droid Sans Mono", Courier New;
	font-weight: bold;
}
table td.op_fld_f {
	width: 44px;
	font-weight: bold;
	border-width: 1px;
	text-align: center;
	border-style: inset;
	border-color: green;
	background-color: #FFB;
}
table td.liw_fld_f {
	width: 44px;
	font-weight: bold;
	border-width: 1px;
	text-align: center;
	border-style: inset;
	border-color: green;
	background-color: #EEF;
}
table td.liw_f {
	border-width: 1px;
	text-align: center;
	border-style: inset;
	border-color: green;
	background-color: #EEF;
}
.v_text {
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
  writing-mode: tb-rl;
}
